body {
  display: inline-block;
  position: relative;
  background: #ff6400;
  margin: 0px;
}
.inline {
  display: inline-block;
}
.tr {
  color: #808080;
  width: 70px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: #0000ff;
}
.td {
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.table {
  width: 70px;
}
.input {
  width: 70px;
}
